body {
		background: #fafafa;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    position: relative;
    font-size: 16px;
}

/* Background vector created by freepik - www.freepik.com */
.home-bg {
  background-image: url("../images/header-bg.jpg");
}

.projectOne-bg {
  background-image: url("../images/nhs-bg.jpg");
  background-repeat: repeat;
  background-size: contain;
}

:root {
  --dark-green: #61833F;
  --green: #9dc07a;
  --white-green: #eff4e8;
  --light-green: #dfead2;
  --light-pink: #fcb3b1;
  --pink: #fb5e5b;
  --dark-pink: #e96269;
  --grey: #5b616b;

  --blue: #005EB8;
  --light-blue: #41B6E6;
  --c-gray-900: #1d1d1d;

  --rotation: -3deg;
}

html,body {
  width: 100%;
}

html {
  font-size: 62.5%;
}


/* Typography
------------------------------------- */

h1 {
  font-size: 2em;
}

h2 {
  color: #444;
  font-size: 1.7em;
  font-weight: 400;
  letter-spacing: 0.3rem;
  font-family: 'Caveat', cursive;
}

h3 {
  color: #444;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

h4 {
  color: #444;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

h5 {
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  color: #000;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}

.link {
  text-decoration: underline;
  font-weight: bold;
}

a {
  outline: none;
  text-decoration: none;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

img {
  width: 100%;
  max-width: 100%;
}

header img.circle{
  border-radius: 50%;
  border: 5px solid var(--light-green);
  display: inline-block;
  object-fit: cover;
}


/* BUTTON */
.link--arrowed {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
}
.link--arrowed .arrow-icon {
  position: relative;
  left: 1rem;
  transition: transform 0.3s ease;
  vertical-align: middle;
}
.link--arrowed:hover .arrow-icon {
  transform: translate3d(5px, 0, 0);
}

/* preloader styles
/* ========================================== */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 white;
}

/* header section styles
/* ========================================== */
  header {
    height: 100vh !important;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  
  @media (min-width: 780px) {
    header {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      height: 85vh;
    }
  }
  
  header .headerText h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 10px 0;
    padding-bottom: 0.5em;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-underline-offset: 0.3em;
    color: var(--pink);
    position: relative;
    max-width: 200px;
    font-family: 'Caveat', cursive;
    text-shadow: 1px 1px 4px var(--light-pink);
  }
  
  @media (min-width: 780px) {
    header .headerText h1 {
      font-size: 4rem;
      max-width: 400px;
    }
  }
  
  header .headerText h1 span {
    display: block;
  }
  
  @media (min-width: 780px) {
    header .headerText h1 span {
      display: inline;
    }
  }
  
  @media (min-width: 780px) {
    header .headerText h1::after {
      height: 23px;
    }
  }
  
  header .scrollDownText {
    position: absolute;
    text-align: center;
    padding-top: 90vh;
    font-family: "Nanum Pen Script", "cursive";
    font-size: 23px;
    color: #9dc07a;
  }
  
  header .fa-angle-down {
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-animation-name: bounce;
            animation-name: bounce;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    cursor: pointer;
  }
  
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @keyframes bounce {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-3px);
              transform: translateY(-3px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  header p {
    color: #696969;
    font-size: 2rem;
    font-weight: 400;
    width: 100%;
    position: relative;
  }
  
  header p span {
    color: var(--dark-green);
  }
  
  header p .smallerText {
    font-family: "Nanum Pen Script", "cursive";
    color: var(--grey);
  }

  .wrapper {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    background-color: #fff;
    padding-left: 3em;
    padding-right: 3em;
  }
  
  @media (min-width: 1080px) {
    .wrapper {
      width: 80%;
    }
  }

/* Card section styles
/* ========================================== */

#projects {
  min-height: 500px;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#projects h2 {
  font-size: 3rem;
  position: relative;
  margin: 0;
  padding-bottom: 1em;

  font-weight: 700;
  color: var(--pink);
  font-family: 'Caveat', cursive;
  text-align: center;
  text-shadow: 1px 3px 0px var(--light-pink)
}

.notes {
	margin-top: 1.5rem;
	display: flex;
	padding: 2rem 2rem;
  justify-content: center;
  align-items: center;
}

.notesText {
  font-family: "Nanum Pen Script", "cursive";
  font-size: 21px;
  color: var(--dark-pink);
}

a.notesText{
  text-decoration: underline;
}

a.notesText:hover{
  font-weight: 600;
  color: var(--dark-pink);
}

.smallerText {
  font-family: "Nanum Pen Script", "cursive";
  color: var(--grey);
}

.card {
  width: 95%;
  margin-bottom: 3rem;
  transform: rotate(var(--rotation));
  transition: 0.15s ease-out;
  text-align: center;
}
.card.style2 {
  margin-top: 1rem;
  --rotation: 5deg;
}
.card.style2 .card-inner:after {
  background-color: var(--light-pink);
}
.card.style2 .card-pin {
  top: 20px;
  left: 20px;
  transform: rotate(-5deg);
}
.card.style3 {
  margin-top: 1rem;
  --rotation: 0deg;
}
.card.style3 .card-inner:after {
  background-color: var(--light-pink);
}
.card.style3 .card-pin {
  top: 20px;
  left: 20px;
  transform: rotate(-5deg);
}
.card + .card {
  margin-left: 2.5rem;
}
.card:hover, .card:focus-within {
  transform: translateY(4px) rotate(var(--rotation));
}
.card:hover .card-pin:after, .card:focus-within .card-pin:after {
  height: 54px;
}
.card:hover .card-pin:before, .card:focus-within .card-pin:before {
  transform: translatey(-4px);
}
.card.disabled {
  pointer-events: none;
}
.card.horizontal {
  width: 100%;
  transform: rotate(0deg);
}
.card.horizontal .card-inner {
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
.card.horizontal .card-inner:after {
  background-color: var(--pink-red);
}

.card.horizontal .card-content {
  width: 100%;
  margin-top: 0;
  margin-left: 0.5rem;
}
.card.horizontal .card-title {
  font-weight: 500;
  color: var(--red);
  font-size: 1.125em;
  margin-top: 0.125em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card.horizontal:hover .card-pin.simple:before,
.card.horizontal:hover .card-pin.simple:after, .card.horizontal:focus-within .card-pin.simple:before,
.card.horizontal:focus-within .card-pin.simple:after {
  transform: none;
}
.card.horizontal:hover .card-pin.simple:after, .card.horizontal:focus-within .card-pin.simple:after {
  height: 50px;
}

.card-inner {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--c-gray-900);
  border-radius: 20px;
  padding: 0.5rem;
  background-color: #fff;
  position: relative;
}
.card-inner:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 95%;
  height: 100%;
  bottom: -9px;
  left: calc(50% - 47.5%);
  border-radius: 20px;
  border: 2px solid var(--c-gray-900);
  background-color: var(--light-pink);
}

.card-pin {
  width: 12px;
  height: 12px;
  background-color: var(--c-gray-900);
  position: absolute;
  top: 20px;
  left: calc(50% - 6px);
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--c-gray-900);
  transform: rotate(3deg);
  z-index: 1;
}
.card-pin:before, .card-pin:after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  transition: 0.15s ease-out;
}
.card-pin:before {
  width: 12px;
  height: 12px;
  background-color: var(--c-gray-900);
  border-radius: 50%;
  left: calc(50% - 6px);
  top: -44px;
}
.card-pin:after {
  width: 6px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 99em;
  height: 50px;
  left: calc(50% - 3px);
  bottom: 3px;
}
.card-pin.simple {
  box-shadow: none;
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--c-gray-900);
}
.card-pin.simple:nth-of-type(odd) {
  left: 10px;
  top: 10px;
  transform: rotate(-45deg);
}
.card-pin.simple:nth-of-type(even) {
  left: calc(100% - 20px);
  top: calc(100% - 20px);
  transform: rotate(120deg);
}

.card-image {
  border-radius: 15px;
  overflow: hidden;
  aspect-ratio: 4/3;
  position: relative;
}
.card-image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.card-meta,
.card-title {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.card-title {
  margin-top: 3rem;
  font-size: 1.2em;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.card-title:hover{
  text-decoration: underline;
}
.aboutMe {
  min-height: 500px;
  height: 90%;
  padding: 30px auto;
}

.aboutMe h2 {
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  color: var(--pink);
  font-family: 'Caveat', cursive;
  text-align: center;
  text-shadow: 1px 3px 0px var(--light-pink)
}

.image img {
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.text-block {
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 62%, 0.1);
}

.skills {
  font-family: "Nanum Pen Script", "cursive";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.skills li {
  list-style: none;
  width: 80px;
  text-align: center;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
}

@media (min-width: 780px) {
  .skills li {
    margin: 0 20px;
    width: 120px;
  }
}

.skills li img {
  width: 40px;
  margin-bottom: 5px;
}

@media (min-width: 780px) {
  .skills li img {
    width: 50px;
  }
}

.skills h2 {
  text-align: center;
}

/* Project section */
.project {
  min-height: 500px;
  height: 90%;
  padding: 30px auto;
}

.project h1 {
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Caveat', cursive;
  text-align: center;
}

.project h1.blue{
  color: var(--blue);
  text-shadow: 1px 3px 0px var(--light-blue)
}

.click-zoom input[type=checkbox] {
  display: none
}

.click-zoom img {
  transition: transform 0.25s ease;
  cursor: zoom-in
}

.click-zoom input[type=checkbox]:checked~img {
  transform: scale(1.4);
  cursor: zoom-out
}


/* footer section styles
/* ========================================== */
footer {
  width: 100%;
  position: relative;
  background-color: transparent;
  margin: 0 auto;
  bottom: 0px;
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 1.6rem;
}

footer p {
  margin: 0;
  padding: 0;
  color: var(--dark-pink);
}

/* social icon */
.social-icon {
  list-style: none;
  display: inline-block;
}
.social-icon a {
  color: var(--green);
  font-size: 22px;
  line-height: 48px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin-top: 1em;
  margin-right: 2em;
  position: relative;
}
.social-icon a:hover {
  color: var(--dark-green);
}